# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
venv*/
.conda*/
.python-version
reports/figures/adafruit/README.txt
reports/figures/adafruit/adafruit_products_e_downloads_fab_print.png
*.mp4
src/micropython_sdl_demo/secrets.py
scripts/pico-w/**/*
scripts/pico-go-w/**/*
scripts/pymakr/**/*
src/adafruit_io_sdl_demo/secrets.py
reports/videos/sdl-demo.vpb
reports/presentations/sdl-demo-acceleration-conf.pptx
src/public_mqtt_sdl_demo/secrets.py
**/secrets.py
notebooks/serendipitous-discovery.png
notebooks/sdl-diagram.jpeg
notebooks/map-diagram.jpg
reports/presentations/~$sdl-demo-acceleration-conf.pptx
src/sdl_demo/**/*
src/sdl_demo.zip
reports/figures/abstract-tall-crop.png
reports/figures/dalle-sketch-tiny-car.png
reports/figures/green-led-tall.jpg
reports/figures/materials-annotated-tall.png
reports/figures/optimization-compare-tall.png
reports/figures/sdl-demo-annotated-tall.png
reports/figures/sdl-demo-tall.jpg
reports/figures/task-3.png
notebooks/secrets.json
reports/~$clslab-liquid-bom.xlsx
scripts/secrets.json
notebooks/escience/temp-plot.html
src/public_mqtt_sdl_demo/lib/rsa/**/*
src/public_mqtt_sdl_demo/scripts/rsa_basic.py
reports/~WRL0003.tmp
reports/hardwarex-sdl-demo.aux
reports/hardwarex-sdl-demo.out
reports/hardwarex-sdl-demo.pdf
reports/hardwarex-sdl-demo.synctex.gz
src/public_mqtt_sdl_demo/lib/umqtt/robust2.py
src/public_mqtt_sdl_demo/lib/umqtt/simple2.py
reports/~$llPress_STARProtocols.docx
reports/github-accelerators/2022-12-20 18.21.09 Sterling Baird's Personal Meeting Room/Audio Record/audioSterlingBaird11912472314.m4a
reports/github-accelerators/2022-12-20 18.21.09 Sterling Baird's Personal Meeting Room/audio1912472314.m4a
reports/github-accelerators/2022-12-20 18.21.09 Sterling Baird's Personal Meeting Room/recording.conf
notebooks/escience/2.8.2-ax_service_existing_data_saasbo_multi_objective_batch_debug.ipynb
.vscode/settings.json
src/extra/nonwireless/lib/data_logging.py
src/extra/nonwireless/lib/sdl_demo_utils.py
src/extra/nonwireless/main-2.py
reports/star-protocols/STAR-PROTOCOLS-D-23-00017_R1.pdf
sdl_demo/**/*
sdl_demo.zip
scripts/discrete_fidelity_debug.py
reports/users.txt
reports/~$s-labs-liquid-hardwarex.docx
