# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version
reports/figures/adafruit/README.txt
reports/figures/adafruit/adafruit_products_e_downloads_fab_print.png
*.mp4
src/micropython_sdl_demo/secrets.py
scripts/pico-w/**/*
scripts/pico-go-w/**/*
scripts/pymakr/**/*
src/adafruit_io_sdl_demo/secrets.py
reports/videos/sdl-demo.vpb
reports/presentations/sdl-demo-acceleration-conf.pptx
src/public_mqtt_sdl_demo/secrets.py
**/secrets.py
notebooks/serendipitous-discovery.png
notebooks/sdl-diagram.jpeg
notebooks/map-diagram.jpg
reports/presentations/~$sdl-demo-acceleration-conf.pptx
src/sdl_demo/**/*
src/sdl_demo.zip
reports/figures/abstract-tall-crop.png
reports/figures/dalle-sketch-tiny-car.png
reports/figures/green-led-tall.jpg
reports/figures/materials-annotated-tall.png
reports/figures/optimization-compare-tall.png
reports/figures/sdl-demo-annotated-tall.png
reports/figures/sdl-demo-tall.jpg
reports/figures/task-3.png
