# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
ipykernel
myst-parser[linkify]
nbsphinx
nbsphinx-link
sphinx>=3.2.1
sphinx-gallery
sphinx_copybutton
sphinx_rtd_theme
